<div class="container my-5">
    <div class="row justify-content-center align-items-center">        
        <h3><fa-icon [icon]="faBook"></fa-icon> Cadastrar Disciplina</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="disciplina.nome" required>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label for="cargahoraria">Carga horária:</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="disciplina.cargaHoraria" required>
                </div>  
            </div>
            <button type="button" routerLink="/consulta-disciplina" class="btn btn-secondary my-3">Voltar</button>
            <button type="submit" class="btn btn-primary my-3 btn-cadastrar">Cadastrar</button>
        </form>                
    </div>
</div>