<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <h3><fa-icon [icon]="faPager"></fa-icon> Cadastrar Boletim</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label for="usuario">Usuário:</label>                    
                    <select class="form-control" [(ngModel)]="usuarioSelectedValue" name="usuario">
                      <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">{{usuario.nome}}</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label for="dataEntrega">Data:</label>
                    <input type="date" class="form-control" id="dataEntrega" name="dataEntrega" [(ngModel)]="boletim.dataEntrega" required>
                </div>               
            </div>        
            <button type="button" routerLink="/consulta-boletim" class="btn btn-secondary my-3">Voltar</button>
            <button type="submit" class="btn btn-primary my-3 btn-cadastrar">Cadastrar</button>
        </form>        
    </div>
</div>