<nav class="navbar navbar-expand-lg avbar-light bg-light">
    <div class="container">
        <a class="navbar-brand mx-2" routerLink="/menu"><fa-icon [icon]="faSchool"></fa-icon> Gestão Escolar API</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link mx-3" (click)="sair()"><fa-icon [icon]="faDoorOpen"></fa-icon> sair</a>
            </li>
            </ul>
        </div>
    </div>
</nav>

<div *ngIf="ehProfessor() && temNotificacao()" class="d-flex justify-content-center align-items-center my-2">
    <div class="btn-group-vertical" style="width: 500px;">
        <h6>Notificações</h6>
        <button class="btn btn-secondary btn-sm mb-1 btn-limpar-notificacoes" (click)="clearNotifications()" style="width: auto;">Limpar Notificações</button>    
        <ul class="list-group">
          <li *ngFor="let notification of notifications" class="list-group-item" style="width: 500px;">
            <h6 class="list-group-item-heading">{{ notification.title }}</h6>
            <p class="list-group-item-text">{{ notification.text }}</p>
            <small class="text-muted">{{ notification.date | date }}</small>
            <button class="btn btn-secondary btn-sm float-right" (click)="removeNotification(notification)">Limpar</button>
          </li>
        </ul>
    </div>    
</div>

<div *ngIf="ehProfessor()" class="d-flex justify-content-center align-items-center" style="height:35vh;">
    <div class="btn-group-vertical" style="width: 500px;">
      <h1 class="text-center mb-3">Menu</h1>              
      <button type="button" class="btn btn-outline-primary btn-lg btn-block" routerLink="/consulta-disciplina">Disciplinas</button>      
      <button type="button" class="btn btn-outline-primary btn-lg btn-block" routerLink="/consulta-turma">Usuario/Turma</button>
      <button type="button" class="btn btn-outline-primary btn-lg btn-block" routerLink="/consulta-boletim">Boletins</button>
      <button type="button" class="btn btn-outline-primary btn-lg btn-block" routerLink="/lancar-nota-aluno">Lançar Nota Aluno</button>
    </div>
</div>