<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <h3>Notas boletim</h3>
        <div class="col-sm-12 col-md-12 col-lg-12">            
            <button type="submit" class="btn btn-primary my-3 btn-opcoes" routerLink="/cadastro-notas-boletim">Cadastrar nova</button>
            <button type="button" routerLink="/menu" class="btn btn-secondary mx-1 my-3">Voltar</button>

            <table class="table table-bordered">
                <thead>
                    <tr>                            
                        <th>Aluno</th>
                        <th>Disciplina</th>
                        <th>Nota</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let notasBoletim of notasBoletims | paginate: { itemsPerPage: 20, currentPage: paginaAtual, totalItems: total }; let i = index">
                        <td>{{ notasBoletim.nomeUsuario }}</td>
                        <td>{{ notasBoletim.nomeDisciplina }}</td>
                        <td>{{ notasBoletim.nota }}</td>
                        <td>                                
                            <a [routerLink]="['/editar-notas-boletim', notasBoletim.id]">Edit</a> |
                            <a routerLink="/consulta-notas-boletim" (click)="apagar(notasBoletim.id)">Delete</a> 
                        </td>
                    </tr>
                </tbody>
            </table>            
            <div class="mr-4">
                <pagination-controls (pageChange)="onPageChange($event)" [collectionSize]="total"></pagination-controls>
            </div>
        </div>
    </div>
</div>